/* Page Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

body {
  background-color: RGB(27, 40, 56);
}

header {
  font-size: 0.75rem;
  background-color: RGB(23, 26, 33);
  color: RGB(199, 213, 224);
}

h1 {
  padding: 20px;
  text-align: center;
}

h3 {
  padding: 10px;
  text-align: center;
}

.flex {
  display: flex;
}

.regular-text {
  font-size: 0.9rem;
}

.header-subtext {
  background-color: RGBA(102, 192, 244, 0.5);
  color: RGB(199, 213, 224);

  padding: 0px 10px 10px 10px;
  margin: 10px;

  text-shadow: 0 1px 5px black;
  text-align: center;
}

.header-subtext a {
  color: RGB(199, 213, 224);
}

/* Container for all the cards */
#gameWrapper {
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 10px;
}

/* Class for each individual card.*/
.game-wrapper {
  height: auto;
  /* background-color: RGB(102, 192, 244); */
  background-color: RGB(23, 26, 33);
  box-shadow: 1px 1px 10px grey;
  color: RGB(199, 213, 224);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.25rem;

  border-top: 1px solid RGBA(199, 213, 224, 0.7);
  width: 95%;
}

/* Win Year Number */
.year-number {
  color: RGB(102, 192, 244);
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 1px 5px black;
}

/* Game Image */
.game-img {
  width: 100%;

  box-shadow: 0px 0px 5px -4px white;
}

/* Game Title */
.game-name {
  color: RGB(102, 192, 244);
  border-bottom: 1px solid RGB(199, 213, 224);
  padding: 5%;

  width: 100%;
  font-weight: 200;
  font-size: 2.5rem;
}

.details-wrapper {
  width: 100%;
  padding: 1.5%;

  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-style: italic;

  border-bottom: 1px solid RGB(199, 213, 224);
}

.right-side {
  align-self: flex-end;
  font-style: normal;
  font-size: 1.15rem;
}

.comments-wrapper {
  background-color: RGB(27, 40, 56);
  padding: 5px;
  max-height: 150px;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  border: 1px solid RGBA(199, 213, 224, 0.25);
}

.comment-form {
  width: 100%;
  padding: 10px;

  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.comment,
.username,
.submit {
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

form {
  gap: 15px;

  width: 100%;

  flex-direction: column;
  align-items: flex-start;
}

form p {
  font-style: italic;
}

input {
  background-color: RGBA(42, 71, 94, 0.5);
  color: RGB(199, 213, 224);
  font-style: italic;
  border: none;
  border-radius: 3px;
  width: 70%;
  padding: 1%;
}

input:focus {
  outline: 1px solid RGB(102, 192, 244);
}

button {
  cursor: pointer;
  background-color: RGB(42, 71, 94);
  color: RGB(199, 213, 224);
  border: none;
  padding: 2.5%;
  font-weight: 300;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 1px 16px 0 RGB(102, 192, 244);
}

.comments-individual {
  width: 100%;
  margin-bottom: 20px;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-bottom: 1px solid grey;
}

.comment-content {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  width: 100%;
}

.comment-from {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  text-align: start;
  align-self: flex-start;
  justify-self: flex-end;

  font-style: italic;
}

.success-popup {
  background-color: RGB(199, 213, 224);
  color: RGB(27, 40, 56);
  padding: 2%;
  border: 1px solid RGB(199, 213, 224);
  border-radius: 1rem;
  box-shadow: 0px 1px 1px 5px RGB(102, 192, 244);
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  h2.game-name {
    padding: 1%;
  }
  .regular-text {
    font-size: 1rem;
  }
  /* Container for all the cards */
  #gameWrapper {
    /* width: 100vw; */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 6rem;
  }

  .game-wrapper {
    gap: 1rem;
    width: 35%;
    transition: all 1s;
  }
  .game-wrapper:hover {
    width: 49%;
    box-shadow: 1px 1px 100px grey;
  }
  .game-wrapper:hover p {
    font-size: 1.5rem;
    transition: all 1s;
  }
  .game-wrapper:hover .comment-from {
    font-size: 1rem;
    transition: all 1s;
  }
  .game-wrapper:hover .comments-individual {
    gap: 1px;
    padding-bottom: 10px;
  }

  .game-wrapper:hover .comments-wrapper {
    max-height: 300px;
    transition: all 1s;
  }

  .details-wrapper {
    padding: 1%;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-style: italic;
  }

  .right-side {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.2rem;
  }
}
